* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 89.5%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 81.25%;
  }
}

body {
  background-color: #14121c;
  color: #f2f1f3;
  font-size: 93.75%;
}

a {
  color: #f2f1f3;
  text-decoration: none;
}

p,
span {
  color: #aca9b9;
}
